// Colors
$white: #fefefe;
$black: #101010;
$dark-grey: #242424;
$light-grey: #303030;
$primary-color: #5680e9;
$secondary-color: #5ab9ea;

// Fonts
$font-default: 16px;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// Body
$body-background: #efefef;
