/* Navigation */

.navbar {
    padding: 10px 0;
    height: 100vh;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary-color;

    &__menu {
        display: flex;
        flex-direction: column;
    }

    &__link {
        margin: 10px;
        text-align: center;
    }

    &__icon {
        color: $white;

        &--logo {
            width: 100%;
            height: auto;
        }
    }

    &__button {
        margin: 10px;
        text-align: center;
    }
}
